In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext()
sc

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("final_cleaning").getOrCreate()

In [9]:
#reading in full dataset 
df = spark.read.parquet("s3://ppol567lab2/sample.parquet")

In [10]:
#creating sql table
df.createOrReplaceTempView('sample')

In [11]:
df.printSchema()

root
 |-- archived: boolean (nullable = true)
 |-- author: string (nullable = true)
 |-- author_cakeday: boolean (nullable = true)
 |-- author_created_utc: long (nullable = true)
 |-- author_flair_background_color: string (nullable = true)
 |-- author_flair_css_class: string (nullable = true)
 |-- author_flair_richtext: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- a: string (nullable = true)
 |    |    |-- e: string (nullable = true)
 |    |    |-- t: string (nullable = true)
 |    |    |-- u: string (nullable = true)
 |-- author_flair_template_id: string (nullable = true)
 |-- author_flair_text: string (nullable = true)
 |-- author_flair_text_color: string (nullable = true)
 |-- author_flair_type: string (nullable = true)
 |-- author_fullname: string (nullable = true)
 |-- author_patreon_flair: boolean (nullable = true)
 |-- body: string (nullable = true)
 |-- can_gild: boolean (nullable = true)
 |-- can_mod_post: boolean (nullable = true)
 |-- collapsed: boolean (nullable = true)
 |-- collapsed_reason: string (nullable = true)
 |-- controversiality: long (nullable = true)
 |-- created_utc: long (nullable = true)
 |-- distinguished: string (nullable = true)
 |-- edited: string (nullable = true)
 |-- gilded: long (nullable = true)
 |-- gildings: struct (nullable = true)
 |    |-- gid_1: long (nullable = true)
 |    |-- gid_2: long (nullable = true)
 |    |-- gid_3: long (nullable = true)
 |-- id: string (nullable = true)
 |-- is_submitter: boolean (nullable = true)
 |-- link_id: string (nullable = true)
 |-- no_follow: boolean (nullable = true)
 |-- parent_id: string (nullable = true)
 |-- permalink: string (nullable = true)
 |-- removal_reason: string (nullable = true)
 |-- retrieved_on: long (nullable = true)
 |-- score: long (nullable = true)
 |-- send_replies: boolean (nullable = true)
 |-- stickied: boolean (nullable = true)
 |-- subreddit: string (nullable = true)
 |-- subreddit_id: string (nullable = true)
 |-- subreddit_name_prefixed: string (nullable = true)
 |-- subreddit_type: string (nullable = true)

In [16]:
#Looking at author var
spark.sql('select author, count(author) as count from sample group by author order by count(author) desc').show()

+--------------------+--------+
|              author|   count|
+--------------------+--------+
|           [deleted]|42737313|
|       AutoModerator| 5222586|
|    MemeInvestor_bot|  307896|
|         transcribot|  269443|
|KeepingDankMemesDank|  222801|
|transcribersofreddit|  198197|
| NFCAAOfficialRefBot|  136902|
|      MTGCardFetcher|  130178|
|          vokoxazara|  126528|
|       imguralbumbot|  114199|
|          mediapedia|   99348|
|CommonMisspellingBot|   92196|
|      TotesMessenger|   87903|
|         Marketron-I|   87577|
|        SnapshillBot|   72432|
|          GVHFYTRTGH|   70857|
|        sneakpeekbot|   70822|
|           ManyYoung|   67701|
|         WikiTextBot|   61143|
|         request_bot|   60551|
+--------------------+--------+
only showing top 20 rows

In [18]:
#Looking at author cakeday var
spark.sql('''select author_cakeday, count(author_cakeday) as count
              from sample group by author_cakeday order by count(author_cakeday) desc''').show()

+--------------+-------+
|author_cakeday|  count|
+--------------+-------+
|          true|1549258|
|          null|      0|
+--------------+-------+

In [19]:
#Looking at author created var
spark.sql('''select author_created_utc, count(author_created_utc) as count 
            from sample group by author_created_utc order by count(author_created_utc) desc''').show()

+------------------+-------+
|author_created_utc|  count|
+------------------+-------+
|        1325741068|5222586|
|        1526661437| 307896|
|        1493750700| 269443|
|        1520156308| 222801|
|        1490755650| 198197|
|        1518056507| 136937|
|        1396612931| 130178|
|        1523799924| 126528|
|        1494883468| 114199|
|        1541446109|  99349|
|        1488799491|  92196|
|        1421289506|  87903|
|        1534983431|  87578|
|        1420513678|  72432|
|        1537269564|  70857|
|        1483196915|  70822|
|        1542552946|  67701|
|        1496576979|  61143|
|        1341185839|  60551|
|        1495052127|  59992|
+------------------+-------+
only showing top 20 rows

In [20]:
#Looking at author flair type var

spark.sql('''select author_flair_type, count(author_flair_type) as count 
            from sample group by author_flair_type order by count(author_flair_type) desc''').show()

+-----------------+---------+
|author_flair_type|    count|
+-----------------+---------+
|             text|384650632|
|         richtext| 48871799|
|             null|        0|
+-----------------+---------+

In [22]:
#Looking at author patreon falir var

spark.sql('''select author_patreon_flair, count(author_patreon_flair) as count 
            from sample group by author_patreon_flair
            order by count(author_patreon_flair) desc''').show()

+--------------------+---------+
|author_patreon_flair|    count|
+--------------------+---------+
|               false|427232451|
|                true|    14254|
|                null|        0|
+--------------------+---------+

In [25]:
#Looking at body var

spark.sql('''select body, count(body) as count 
             from sample group by body 
             order by count(body) desc''').show()

+----------+--------+
|      body|   count|
+----------+--------+
| [removed]|19547496|
| [deleted]|18453844|
|         F|  581316|
|       Yes|  266833|
|   Thanks!|  230640|
|         E|  222195|
|         A|  216488|
|Thank you!|  207593|
|         I|  188876|
|   Goodbye|  182330|
|        No|  179680|
|         O|  159118|
|         S|  147105|
|      Nice|  143063|
|         N|  138271|
|       Lol|  129636|
|         T|  125267|
|    Thanks|  124086|
|         R|  120103|
|         D|  107520|
+----------+--------+
only showing top 20 rows

In [26]:
#Looking at can mod post var

spark.sql('''select can_mod_post, count(can_mod_post) as count 
            from sample group by can_mod_post order by count(can_mod_post) desc''').show()

+------------+---------+
|can_mod_post|    count|
+------------+---------+
|       false|476259744|
+------------+---------+

In [27]:
#Looking at collapsed var

spark.sql('''select collapsed, count(collapsed) as count 
            from sample group by collapsed order by count(collapsed) desc''').show()

+---------+---------+
|collapsed|    count|
+---------+---------+
|    false|451538199|
|     true| 24721545|
+---------+---------+

In [28]:
#Looking at collapsed reason var

spark.sql('''select collapsed_reason, count(collapsed_reason) as count 
            from sample group by collapsed_reason order by count(collapsed_reason) desc''').show()

+--------------------+-------+
|    collapsed_reason|  count|
+--------------------+-------+
|comment score bel...|6725928|
|                null|      0|
+--------------------+-------+

In [29]:
#Looking at controversiality var

spark.sql('''select controversiality, count(controversiality) as count 
            from sample group by controversiality order by count(controversiality) desc''').show()

+----------------+---------+
|controversiality|    count|
+----------------+---------+
|               0|465787145|
|               1| 10472599|
+----------------+---------+

In [30]:
#Looking at can_gild var

spark.sql('''select can_gild, count(can_gild) as count 
            from sample group by can_gild order by count(can_gild) desc''').show()

+--------+---------+
|can_gild|    count|
+--------+---------+
|    true|468695795|
|   false|  7563949|
+--------+---------+

In [31]:
#Looking at gilded var

spark.sql('''select gilded, count(gilded) as count 
            from sample group by gilded order by count(gilded) desc''').show()

+------+---------+
|gilded|    count|
+------+---------+
|     0|476161465|
|     1|    92481|
|     2|     4159|
|     3|      954|
|     4|      332|
|     5|      136|
|     6|       61|
|     7|       46|
|     8|       30|
|    10|       21|
|     9|       18|
|    11|        7|
|    12|        7|
|    16|        6|
|    13|        5|
|    15|        3|
|    14|        3|
|    26|        2|
|    17|        2|
|    42|        1|
+------+---------+
only showing top 20 rows

In [32]:
#Looking at gildings var

spark.sql('''select gildings, count(gildings) as count 
            from sample group by gildings order by count(gildings) desc''').show()

+---------+---------+
| gildings|    count|
+---------+---------+
|[0, 0, 0]|476025207|
|[1, 0, 0]|   123089|
|[0, 1, 0]|    81310|
|[1, 1, 0]|     7284|
|[0, 0, 1]|     6208|
|[2, 0, 0]|     5101|
|[0, 2, 0]|     2147|
|[2, 1, 0]|     1698|
|[1, 2, 0]|      852|
|[3, 0, 0]|      713|
|[3, 1, 0]|      543|
|[0, 1, 1]|      509|
|[1, 0, 1]|      507|
|[1, 1, 1]|      463|
|[2, 2, 0]|      381|
|[0, 3, 0]|      307|
|[4, 0, 0]|      182|
|[3, 2, 0]|      176|
|[4, 1, 0]|      173|
|[1, 3, 0]|      164|
+---------+---------+
only showing top 20 rows

In [33]:
#Looking at distinguisehd var

spark.sql('''select distinguished, count(distinguished) as count 
            from sample group by distinguished order by count(distinguished) desc''').show()

+-------------+-------+
|distinguished|  count|
+-------------+-------+
|    moderator|7567312|
|        admin|   2718|
|      special|      4|
|         null|      0|
+-------------+-------+

In [34]:
#Looking at id var

spark.sql('''select id, count(id) as count 
            from sample group by id order by count(id) desc''').show()

+-------+-----+
|     id|count|
+-------+-----+
|e6yvdxi|    1|
|e6yvdzs|    1|
|e6yveaq|    1|
|e6yveem|    1|
|e6yvefo|    1|
|e6yvekc|    1|
|e6yvenm|    1|
|e6yvepu|    1|
|e6yvewd|    1|
|e6yvewf|    1|
|e6yvezm|    1|
|e6yvfbp|    1|
|e6yvg8o|    1|
|e6yvg9u|    1|
|e6yvgst|    1|
|e6yvgyd|    1|
|e6yvhhj|    1|
|e6yvibf|    1|
|e6yviqb|    1|
|e6yviun|    1|
+-------+-----+
only showing top 20 rows

In [35]:
#Looking at link_id var

spark.sql('''select link_id, count(link_id) as count 
            from sample group by link_id order by count(link_id) desc''').show()

+---------+------+
|  link_id| count|
+---------+------+
|t3_ai3l9x|102527|
|t3_9uf0cp|100006|
|t3_adp4lk|100002|
|t3_a9mtop|100002|
|t3_a4hj11|100001|
|t3_a9mth7|100001|
|t3_9zwdbb| 74325|
|t3_a4fmf2| 69565|
|t3_a9hhhr| 66620|
|t3_ai1dc8| 59007|
|t3_9ymxb8| 53311|
|t3_9rg238| 49313|
|t3_9rd4sk| 49106|
|t3_ad7nkw| 47444|
|t3_ahqwgf| 46797|
|t3_ad9wlj| 46503|
|t3_a9dat4| 45140|
|t3_akx2l2| 44771|
|t3_afnxmg| 44519|
|t3_ad0did| 43901|
+---------+------+
only showing top 20 rows

In [36]:
#Looking at is submitter var

spark.sql('''select is_submitter, count(is_submitter) as count 
            from sample group by is_submitter order by count(is_submitter) desc''').show()

+------------+---------+
|is_submitter|    count|
+------------+---------+
|       false|433767387|
|        true| 42492357|
+------------+---------+

In [37]:
#Looking at no follow var

spark.sql('''select no_follow, count(no_follow) as count 
            from sample group by no_follow order by count(no_follow) desc''').show()

+---------+---------+
|no_follow|    count|
+---------+---------+
|     true|369890109|
|    false|106369635|
+---------+---------+

In [38]:
#Looking at removal reason var

spark.sql('''select removal_reason, count(removal_reason) as count 
            from sample group by removal_reason order by count(removal_reason) desc''').show()

+--------------+-----+
|removal_reason|count|
+--------------+-----+
|         legal| 1519|
|          null|    0|
+--------------+-----+

In [39]:
#Looking at stickied var

spark.sql('''select stickied, count(stickied) as count 
            from sample group by stickied order by count(stickied) desc''').show()

+--------+---------+
|stickied|    count|
+--------+---------+
|   false|473620848|
|    true|  2638896|
+--------+---------+

In [40]:
#Looking at edited var

spark.sql('''select edited, count(edited) as count 
            from sample group by edited order by count(edited) desc''').show()

+----------+---------+
|    edited|    count|
+----------+---------+
|     false|463050980|
|1545193908|       27|
|1542125657|       26|
|1540227757|       26|
|1541170706|       26|
|1540366106|       25|
|1540366175|       25|
|1541683238|       25|
|1550267608|       25|
|1550267605|       25|
|1542125639|       25|
|1540227769|       25|
|1540366129|       25|
|1550267612|       25|
|1540366274|       25|
|1550267615|       25|
|1540366043|       24|
|1540366228|       24|
|1542125648|       24|
|1545979255|       24|
+----------+---------+
only showing top 20 rows

In [41]:
#Looking at score var

spark.sql('''select score, count(score) as count 
            from sample group by score order by count(score) desc''').show()

+-----+---------+
|score|    count|
+-----+---------+
|    1|188310177|
|    2| 79913414|
|    3| 42554866|
|    4| 18252997|
|    5| 17166466|
|    0| 16572699|
|    6| 12795999|
|    7|  9757851|
|    8|  7689139|
|    9|  6191938|
|   -1|  5577580|
|   10|  5086501|
|   11|  4268134|
|   12|  3646655|
|   13|  3154503|
|   -2|  3036632|
|   14|  2757642|
|   15|  2433514|
|   16|  2167067|
|   17|  1936937|
+-----+---------+
only showing top 20 rows

In [44]:
#Looking at subreddit var

spark.sql('''select subreddit, count(subreddit) as count 
            from sample group by subreddit order by count(subreddit) desc''').show()

+-----------------+--------+
|        subreddit|   count|
+-----------------+--------+
|        AskReddit|24422497|
|         politics| 8977848|
|              nfl| 5577430|
|            funny| 4280825|
|              nba| 4121533|
|       The_Donald| 3950257|
|        worldnews| 3452428|
|              CFB| 3225713|
|           gaming| 3189548|
|       FortNiteBR| 3082335|
|        dankmemes| 3039592|
|         AskOuija| 3005982|
|             news| 2881375|
|             pics| 2787358|
|            memes| 2598084|
|           soccer| 2493694|
|  leagueoflegends| 2459457|
|   Showerthoughts| 2315785|
|reddeadredemption| 2294151|
| unpopularopinion| 2249675|
+-----------------+--------+
only showing top 20 rows

In [45]:
#Looking at subreddit type var

spark.sql('''select subreddit_type, count(subreddit_type) as count 
            from sample group by subreddit_type order by count(subreddit_type) desc''').show()

+---------------+---------+
| subreddit_type|    count|
+---------------+---------+
|         public|463303117|
|     restricted| 12235122|
|           user|   721502|
|gold_restricted|        3|
+---------------+---------+

In [47]:
#extracting dataframe for use and creating new columns

data = spark.sql('''select author, author_cakeday, body, author_patreon_flair,
                        can_gild, controversiality, collapsed, score, subreddit,
                        case when split(parent_id, '_')[0] = "t1" then 1 else 0 end as comment,
                        case when split(parent_id, '_')[0] = "t3" then 1 else 0 end as post,
                        case when distinguished = 'moderator' then 1 else 0 end as moderator,
                        case when distinguished = 'admin' then 1 else 0 end as admin
                        from sample 
                        where body <> '[removed]' and body <> '[deleted]'
                        and body <> ''
                        
                    ''')

In [48]:
#getting sample of data

data = data.sample(False, .1, seed = 123)

In [49]:
data.count()

43831239

In [50]:
#writing to file for later use
data.write.parquet('s3://ppol567lab2/datasample.parquet')